@import url('https://fonts.googleapis.com/css?family=Shrikhand');

#root {
        display: grid;
        grid-template-rows: min-content min-content auto min-content;
        grid-template-areas:
          "navigation"
          "header"
          "content"
          "footer";
        min-height: 100vh;
  }    

h1 {
    font-family: "Markazi Text", serif
}

.fa-github {
    color: blue;
}

.fa-linkedin {
    color:lightblue;
}

.fa-envelope-square {
    color: aqua;
}

#navigation a ~ ul {
    background-color:pink;
    display: none;  
    position: sticky;
    top: 20px;
    right: 20px;
}

#navigation a:hover ~ ul {
    display: flex;
    flex-direction: column;

}

#navigation a ~ ul:hover {
    display: block;
}

#navigation {   
    background-color:lightskyblue;
    position: sticky;
    top: 10;
}

li :hover {
    color: red
}

img {
    margin: 10px;
    padding: 10px;
    height: 10%;
    width: 100%;
    height: 10%;
    max-width: 500px;

}

#navigation li{
    position: relative;
}

#navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;

}

div.hotpink {
    color: hotpink;

}

#navigation .container {
    margin: 0 auto;

}

#navigation > ul > li {
    margin: 0 10px 0 0;

}


#content li:first-child   {
    background-color:blueviolet;
}

#content li:nth-child(3) {
    background-color:grey;
}

#content li:nth-child(2) {
    background-color: burlywood;
}

#header {
    margin: 10px;
    padding: 10px;
    background-color: lightgreen
}

#content {
    margin: 10px;
    padding: 10px;
    background-color: lightpink
}

#footer {
    margin: 10px;
    padding: 10px;
    background-color: lightblue
}

.ChicagoBearsOrange  {
    
    color: orangered;

}

#boldlinky   {
    background: cyan;
    font-family:fantasy;
}

h2 
{
    font-size:xx-large 
}

.bears {
color:blue;

}

.container  {
    margin: 0 auto  0   auto;
    max-width: 760px;
    width: 100%;
    position: bottom;

}

#footer {
    margin: 0;
    list-style: none;
    padding: 10;
    background: skyblue;
    font-family: 'Shrikhand', cursive;


    
}

#footer {
    margin: 0;
    list-style: none;
    padding: 10;
    background: skyblue;
    font-family: 'Shrikhand', cursive;

}

#footer a {
    text-decoration: none;
}

@media (min-width: 612px) {
    body {
       grid-template-columns: 150px auto;
       grid-template-rows: min-content auto min-content; 
       grid-template-areas:
       "navigation header"
       "navigation content"
       "navigation footer";
    
    }

    #navigation {
        grid-area: navigation;
    }

    #navigation > ul {
        flex-direction: column;
        height: 50vh;
    }
    
}